@media screen and (min-width: 760px) {

    /* ----------PAGE WIDE---------- */
    :root {
        --primary-color: #11296B;
        --secondary-color: #00509D;
        --accent-color1: #EDEDED;
        --accent-color2: #FFDB57;
        --accent-color3: #FFCB05;

        --heading-font: "Luckiest Guy", cursive;
        --main-font: "Outfit" . sans-serif;
    }

    /* ----------Header---------- */
    header span {
        font-size: 2rem;
    }
    /* ----------Main---------- */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .modal {
        max-width: 500px;
    }

    /* ----------Footer---------- */
}