/* -----SITEWIDE----- */

:root {
    --primary-color: #304D6D;
    --secondary-color: #F7F0F5;
    --accent-color1: #545E75;
    --accent-color2: #231C07;
    --accent-color3: #510D0A;



    --main-font: "Roboto", sans-serif;
}

* {
    font-family: var(--main-font);
}

header,
main,
nav,
footer {
    /* max-width: 900px; */
    margin: 0 auto;
}

/* -----HEADER----- */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--secondary-color);
    padding-left: 1rem;
}

.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    margin-top: 0.5rem;
}

.navigation.show {
    display: block;
}

.navigation ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--accent-color1);
}

.navigation li.current {
    background-color: var(--accent-color3);
}

/* -----MAIN----- */

h1 {
    padding: 0.5rem;
}

.bio {
    background-color: var(--secondary-color);
    color: var(--accent-color2);
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem;
}

.bio h2 {
    text-align: center;
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
    background-color: var(--accent-color3);
    color: var(--secondary-color);
    padding: 0.75rem;
    margin: 1rem;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1.5rem;
    background-color: var(--secondary-color);
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
}

.photo h2 {
    text-align: center;
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
    background-color: var(--accent-color3);
    color: var(--secondary-color);
    padding: 0.75rem;
    margin: 1rem;
}

.photo img {
    width: 175px;
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
    align-self: center;
}

.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--secondary-color);
    color: var(--accent-color2);
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem;
}

.courses h2 {
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
    border: solid 1px var(--accent-color2);
    border-radius: 1rem;
    background-color: var(--accent-color3);
    color: var(--secondary-color);
    padding: 0.75rem;
    margin: 1rem;
}

.courses button {
    grid-column: 1/-1;
    grid-row-start: 2;
    justify-content: center;
    background-color: var(--accent-color1);
    color: var(--secondary-color);
    border: solid 1px var(--accent-color3);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    width: 60px;
    height: 48px;
}

.card {
    grid-column: 1/-1;
    grid-row-start: 4;
    padding: 1rem;
    margin: 0.5rem;
    width: 140px;
    height: 44px;
}

.card.completed {
    background-color: var(--accent-color1);
    color: var(--secondary-color);
    border: solid 1px var(--accent-color3);
    border-radius: 0.5rem;
}

.card.not-completed {
    background-color: var(--accent-color3);
    color: var(--secondary-color);
    border: solid 1px var(--accent-color1);
    border-radius: 0.5rem;
}

.course-count {
    grid-column: 1/-1;
}

.credits {
    grid-column: 1/-1;
}

/* -----FOOTER----- */

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.75rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--secondary-color);
    border-radius: 2rem;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent-color1);
}