@media only screen and (min-width: 1200px) {

    /* -----SITEWIDE----- */
    :root {
        --primary-color: #304D6D;
        --secondary-color: #F7F0F5;
        --accent-color1: #545E75;
        --accent-color2: #231C07;
        --accent-color3: #510D0A;



        --main-font: "Roboto", sans-serif;
    }

    * {
        font-family: var(--main-font);
    }

    /* -----HEADER----- */

    header {
        grid-template-columns: 24px auto;
        padding: 1.25rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px var(--secondary-color);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /* -----MAIN----- */

    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    main h1 {
        grid-column: 1;
        grid-row: 1;
    }

    .bio {
        grid-column: 1/8;
        grid-row: 2/3;
    }

    .photo {
        grid-column: 8/-1;
        grid-row: 2/3;
    }

    .courses {
        grid-column: 1/-1;
        grid-row: 4/6;
    }

    .courses button {
        width: 180px;
    }

    #course-container {
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
    }

    /* -----FOOTER----- */

    footer {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}